django==4.0.10  # pyup: < 4.1  # https://www.djangoproject.com/
djangorestframework==3.14.0  # https://github.com/encode/django-rest-framework
django-cors-headers==3.14.0  # https://github.com/adamchainz/django-cors-headers
# DRF-spectacular for api documentation
drf-spectacular==0.26.0  # https://github.com/tfranzel/drf-spectacular
